.bountyCardWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 2% 0%;
    /*background: rgb(19,67,87,.5);*/
    /*border-radius: 20px;*/
    /*box-shadow: 0px 0px 10px 5px;*/
    /*font-weight: 600;*/
}

.bountyCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    padding: 2% 2%;
    background: rgb(10,22,34,50%);
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #42d4db;
    font-weight: 600;
}

.bountyCardAnnouncement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-weight: 700;
    margin: 0px;
    font-size: xx-large;
    /*width: 33%;*/
    white-space: nowrap;
    align-self: center;
    text-align: center;
}

.bountyCardNote {
    background: rgba(63, 151, 155, 0.2);
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    align-self: center;
}

.bountyCardAmounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-weight: 700;
    margin: 0px;
    font-size: x-large;
    /*width: 33%;*/
    white-space: nowrap;
    align-self: center;
    text-align: center;
}

.bountyCardText {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-content: center;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
    white-space: nowrap;
    font-size: medium;
    text-align: center;
    width: 33%;
}

.ezBountyClaimCardButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 33%;*/
}

.connectWalletButton {
    color: white;
    background: transparent;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    border: 3px solid #7C00FF;
    font-weight: bolder;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    /*padding: 10px;*/
    transition-duration: 0.5s;
}

.connectWalletButton:hover {
    box-shadow: 0px 0px 10px 5px white;
}

.claimButton {
    color: white;
    background: transparent;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    border: 3px solid #7C00FF;
    font-weight: bolder;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    /*padding: 10px;*/
    transition-duration: 0.5s;
}

.claimButton:hover {
    box-shadow: 0px 0px 10px 5px white;
}


