.container {

}

.main {
    min-height: 100vh;
    padding: 2rem 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
}

.containerCard {
    background: #416F73;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 0px 20px 10px #0B3448;
}

.logoWrapper {
    display: flex;
    align-content: center;
}

.logo {
    width: 200px;
}

.hamburger {
    border: 0px;
    background: transparent;
    display: none;
}

.header {
    background: url("/BGV2.png");
    background-size: cover;
    /*border-top-left-radius: 15px;*/
    /*border-top-right-radius: 15px;*/
    border-radius: 15px;
    padding-top: 35px;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
}

.navList {
    list-style: none;
    width: 60%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    color: white;
}

.navListMobile {
    display: block;
    align-content: center;
    justify-content: center;
    color: white;
    width: 92%;
    position: fixed;
    background: #134357;
    padding: 2%;
    left: 17px;
    top: 120px;
}

.navLinks {
    display: inline;
    color: white;
    font-size: larger;
}

.introduction {
    display: flex;
    padding: 8%;
    justify-content: space-between;
}

.introWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 4%;
}

.introHeading {

}

.introText {

}

.mintCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
    height: fit-content;
    padding: 3%;
    background: #134357;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px;
    font-weight: 600;
}

.mintCardAnnouncement {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin: 0px;
}

.mintCardTotalMinted {
    display: flex;
    justify-content: center;
    font-weight: 700;
    /*margin: 0px;*/
}

.mintCardAmounts {
    display: flex;
    flex-direction: column;
}

.mintCardNormalPrice {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.mintCardWhitelistPrice {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.mintCardAmountAdjustment {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.mintCardAmountAdjustmentButtonContainer {
    display: flex;
    align-content: center;
    width: 30%;
    justify-content: space-between;
}

.mintCardButtons {
    display: flex;
    justify-content: center;
}

.mintCardMintButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ezClaimCardButtons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mintCardButtonLoader {
    width: 190px;
    height: 80px;
    bottom: 23px;
    position: relative;
}

.mintCardDate {
    color: aqua;
}

.mintCardIcons {
    list-style: none;
    display: flex;
    align-content: center;
    padding-left: 0px;
    margin-bottom: 0px;
}

.mintCardListLinks {
    color: white;
    display: inline;
    padding: 0px 10px;
}

.preview {
    /*display: flex;*/
    /*justify-content: center;*/
    padding: 3% 5%;
}

.previewHeaderWrapper {
    display: flex;
    justify-content: center;
}

.previewHeader {
    text-align: center;
}

.carouselItems {
    height: 400px;
    width: 400px;
}

.roadmap {
    padding: 5%;
    background: #134357;
}

.roadmapContainer {
    display: flex;
    align-content: center;
}

.roadmapHeaderWrapper {
    display: flex;
    justify-content: center;
    /*margin-bottom: 1%;*/
}

.roadmapHeader {
    /*color: #5479B3;*/
    font-size: 30px;
}

/*team styling*/

.team {
    padding-top: 3%;
    width: 100%;

}

.teamInfoContainer {
    display: flex;
    align-items: center;
    padding: 0% 10%;
}

.teamMemberContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 5%;
    width: 50%;
}

.teamMemberTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20%;
}

.teamMemberName {
    margin-top: 20px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.teamMemberTitle {
    margin-bottom: 5px;
    margin-top: 5px;
    white-space: nowrap;
}

.teamMemberLink {
    color: aquamarine;
    white-space: nowrap;
}

.teamMemberImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px;
}

.footer {
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    /*justify-content: center;*/
    /*align-items: center;*/
    background: #1f252b;
}

.footerWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border-top: 2px solid white;*/
    /*border-bottom: 1px solid #eaeaea;*/
    width: 100%;
}

.copyright {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footerList {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 200px;
}

.footerListLinks {
    color: white;
    display: inline;
}

.discordButton {
    color: white;
    background: #5479B3;
    text-align: center;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    padding: 8px;
}

.docsButtonNav {
    color: white;
    background: #5479B3;
    text-align: center;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    padding: 10px;
}

.docsButtonNav:hover {
    box-shadow: 0px 0px 10px 5px white;
}

.discordButton:hover {
    box-shadow: 0px 0px 10px 5px white;
}

.amountAdjustmentButton {
    /*display: flex;*/
    color: white;
    background: #0a667d;
    text-align: center;
    width: 50px;
    height: 100%;
    border-radius: 20px;
    border: none;
    font-size: x-large;
    font-weight: bolder;
    padding-bottom: 5px;
}

.amountAdjustmentButton:hover {
    box-shadow: 0px 0px 10px 5px white;
}


.connectWalletButton {
    color: white;
    background: #6353BD;
    text-align: center;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.connectWalletButton:hover {
    box-shadow: 0px 0px 10px 5px white;
}

/*roadmap styling*/

.timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
}

.timeline__event__one {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0px;
    border-radius: 6px;
    align-self: center;
    width: 50vw;
    flex-direction: row-reverse;
}

.timeline__event__date {
    border-radius: 0 6px 6px 0;
    /*color: #f6a4ec;*/
    font-size: 1.5rem;
    font-weight: 600;
    /*background: #87bbfe;*/
    background: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    /*border-radius: 6px 0 0 6px;*/
}

.timeline__event__date__two {
    font-size: 1.5rem;
    font-weight: 600;
    /*background: #87bbfe;*/
    background: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
}

.timeline__event__content {
    padding: 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: calc(40vw - 84px);
    /*border-radius: 0 6px 6px 0;*/
    border-radius: 6px 0 0 6px;
}

.timeline__event__content__two {
    padding: 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: calc(40vw - 84px);
    border-radius: 0 6px 6px 0;
}

.timeline__event__icon__one {
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: #87bbfe;*/
    align-self: center;
    background: #87bbfe;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    position: relative;
    margin-right: 20px;
    /*animation: fillLeft 2s forwards;*/
}

.timeline__event__icon__two {
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: #87bbfe;*/
    align-self: center;
    background: #87bbfe;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    position: relative;
    margin-left: 20px;
    /*animation: fillLeft 2s forwards;*/
}

.timeline__separator {
    width: 50px;
    height: 0px;
    border: 3px solid #87bbfe;
    display: flex;
    align-self: center;
    background: #87bbfe;
}

.timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 700;
    color: #9251ac;
    letter-spacing: 1.5px;
}

.timeline__event__description {
    flex-basis: 60%;
    color: #1f252b;
}

.timeline__event__two {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0px;
    border-radius: 6px;
    align-self: center;
    width: 50vw;
}

@keyframes fillLeft {
    100% {
        right: 100%;
    }
}

@keyframes fillTop {
    100% {
        top: 100%;
    }
}

@keyframes fillLeftOdd {
    100% {
        left: 100%;
    }
}

/* for media width less than or equal to 600px */
@media only screen and (max-width: 950px) {

    .main {
        min-height: 100vh;
        padding: 2rem 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--background);
    }

    .header {
        padding-top: 20px;
    }

    .logo {
        width: 100px;
        height: 50px;
    }

    .logoWrapper {
        display: flex;
        align-content: center;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .hamburger {
        border: 0px;
        background: transparent;
        display: block;
    }

    .navList {
        display: none;
    }

    .navListMobile {
        width: 97%;
        left: 14px;
    }

    .navLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        color: white;
    }

    .docsButtonNav {
        display: none;
    }

    .discordButton {
        color: white;
        background: #5479B3;
        text-align: center;
        width: 100px;
        border-radius: 20px;
        border: none;
        font-weight: bolder;
        font-size: 16px;
        height: 35px;
        cursor: pointer;
        align-self: center;
        padding: 5px;
    }

    .introduction {
        display: flex;
        flex-direction: column;
        padding: 8%;
        justify-content: space-between;
    }

    .introWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 4%;
    }

    .mintCard {
        width: 100%;
        padding: 10%;
    }

    .carouselItems {
        height: 350px;
        width: 350px;
    }

    .roadmap {
        padding: 5%;
        display: block;
    }

    .timeline {
        display: flex;
        flex-direction: column;
        margin: 0px;
        position: relative;
        box-sizing: border-box;
        font-size: 14px;
        width: 100%;
    }

    .timeline__event__one {
        width: 100%;
    }

    .timeline__event__two {
        width: 100%;
    }

    .timeline__event__icon__one {
        display: none;
    }

    .timeline__event__icon__two {
        display: none;
    }

    .timeline__event__date {
        font-size: 1rem;
    }

    .timeline__event__date__two{
        font-size: 1rem;
    }


    .timeline__event__content {
        width: 100%;
    }

    .timeline__event__content__two {
        width: 100%;
    }

    .timeline__separator {
        display: none;
    }

    .teamInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0% 10%;
    }

    .teamMemberImage {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 5px;
    }
}

@media only screen and (max-width: 700px) {
    .mintCardAmountAdjustmentButtonContainer {
        width: 35%;
    }

    .connectWalletButton {
        margin-top: 20px;
        align-self: center;
    }

    .mintCardMintButtons {
        margin-top: 0px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .navListMobile {
        width: 93%;
        left: 15px;
        top: 130px;
    }

    .mintCardIcons {
        justify-content: center;
    }

    .mintCardAmountAdjustmentButtonContainer {
        width: 50%;
    }

    .connectWalletButton {
        margin-top: 20px;
        align-self: center;
    }

    .mintCardMintButtons {
        margin-top: 0px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .navListMobile {
        width: 92%;
        left: 15px;
        top: 130px;
    }

    .timeline__event__date {
        padding: 10px;
        font-size: 0.7rem;
    }

    .timeline__event__date__two{
        padding: 10px;
        font-size: 0.7rem;
    }

    .mintCardAmountAdjustmentButtonContainer {
        width: 50%;
    }

    .connectWalletButton {
        margin-top: 20px;
        align-self: center;
    }

    .mintCardMintButtons {
        margin-top: 0px;
        flex-direction: column;
    }
}
